<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>丈量中</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>uploadImg</string>
					<key>viewType</key>
					<string>上传测量图片</string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>测量中</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string>测量完毕</string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>测量完毕</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>设计报价</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待设计</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>设计中</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>设计完毕</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待报价</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>报价完毕</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>客户审批</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待客户审批</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>客户已审批</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>店主确认中</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待店主确认</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>店主已确认</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>备货中</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>预算确认下单</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待下图纸</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>图纸下单</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待审图纸</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>已审图纸</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待预算复核图纸</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>预算已复核图纸</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待生产招牌</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待下材料单</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待审材料单</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>已审材料单</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>confirm</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待备料</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>刚挂已完成</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>uploadImg</string>
					<key>viewType</key>
					<string>所有材料打包</string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>checkWorking</string>
					<key>viewType</key>
					<string>所有材料已打包</string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>所有材料已打包</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>物流中</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>sendParcel</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>待发货</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>sendParcel</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>已发货</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>arrangeWorker</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>货到待施工</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>arrangeWorker</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>安排施工人员完毕</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>进场施工</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>checkWorking</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>checkWorking</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<true/>
				<key>name</key>
				<string>施工中</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>完成施工</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>checkWorking</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string>fileAndImg</string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>施工完毕</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>完成结算</string>
		<key>subTitle</key>
		<array>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>预算审核照片并已回访</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>待寄报销材料</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>已寄报销材料</string>
			</dict>
			<dict>
				<key>editSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>viewSegueDic</key>
				<dict>
					<key>segueIden</key>
					<string></string>
					<key>viewType</key>
					<string></string>
				</dict>
				<key>canEdit</key>
				<false/>
				<key>name</key>
				<string>已收款</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
