<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>top</string>
		<key>information</key>
		<array>
			<dict>
				<key>requestKey</key>
				<string>reason</string>
				<key>type</key>
				<string>project info</string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>店主信息</string>
		<key>information</key>
		<array>
			<dict>
				<key>requestKey</key>
				<string>projectName</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>店名</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>projectCode</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>编号</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>shopkeeperName</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>店主姓名</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>shopkeepertel</string>
				<key>type</key>
				<string>phone</string>
				<key>title</key>
				<string>联系电话</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<array>
					<string>province</string>
					<string>city</string>
					<string>area</string>
					<string>address</string>
				</array>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>地址</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>beginTime</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>启动时间</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>品牌信息</string>
		<key>information</key>
		<array>
			<dict>
				<key>requestKey</key>
				<string>brandName</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>装修品牌</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>subClassName</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>品牌级别</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>nickName</string>
				<key>type</key>
				<string>basic</string>
				<key>title</key>
				<string>装修专员</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string>brandaccounttel</string>
				<key>type</key>
				<string>phone</string>
				<key>title</key>
				<string>联系电话</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>跟进人员/联系电话</string>
		<key>information</key>
		<array>
			<dict>
				<key>requestKey</key>
				<array>
					<string>butenickName</string>
					<string>butetel</string>
				</array>
				<key>type</key>
				<string>detail &amp; phone</string>
				<key>title</key>
				<string>预算员</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<array>
					<string>measnickName</string>
					<string>meastel</string>
				</array>
				<key>type</key>
				<string>detail &amp; phone</string>
				<key>title</key>
				<string>测量员</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<array>
					<string>desinickName</string>
					<string>desitel</string>
				</array>
				<key>type</key>
				<string>detail &amp; phone</string>
				<key>title</key>
				<string>设计师</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<array>
					<string>pronickName</string>
					<string>protel</string>
				</array>
				<key>type</key>
				<string>detail &amp; phone</string>
				<key>title</key>
				<string>项目经理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string></string>
		<key>information</key>
		<array>
			<dict>
				<key>requestKey</key>
				<string></string>
				<key>type</key>
				<string>disclosure</string>
				<key>title</key>
				<string>店主评价</string>
			</dict>
			<dict>
				<key>requestKey</key>
				<string></string>
				<key>type</key>
				<string>button</string>
				<key>title</key>
				<string>该项目消息推送</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
